.section-team {
  padding-top: 96px;
  padding-bottom: 82px;
  .section-title {
    margin-bottom: 44px;
  }
  .text {
    text-align: center;
    margin-bottom: 90px;
  }
}
.team-list {
  @extend %align-between;
}
.wrapper {
  position: relative;
  margin-bottom: 30px;
  &:hover {
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px #95e1d3;
    transition: all 200ms linear;
    .overlay {
      visibility: visible;
      opacity: 1;
      transition: all 200ms linear;
    }
  }
}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, #fce38ae6, #f38181e6);
  visibility: hidden;
  opacity: 0;
  &-list {
    display: flex;
    &__item-link {
      width: 56px;
      height: 56px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $secondery-color;
    }
    &__item {
      &:not(:last-child) {
        margin-right: 1px;
      }
      &:hover {
        .overlay-list__item-link {
          background-color: $first-color;
          transition: all 200ms linear;
        }
      }
      &:hover {
        .social-icon {
          fill: #ffffff;
          transition: all 200ms linear;
        }
      }
    }
  }
}
.social-icon {
  width: 26px;
  height: 26px;
  fill: $first-color;
}
.team-list__item {
  .item-title {
    text-align: center;
  }
}
.team-position {
  @include font($ff: $secondery-font, $fs: 0.9375rem, $fw: 400, $lh: 1.6);
  font-style: italic;
  color: #999999;
  text-align: center;
}
